/*
COLOR PALETTE
https://coolors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7
#CAA38E - rosey pink - rosey
#F7FFF7 - almost white - whitemocha
#343434 - dark gray - raincloud
#54433A - dark brown - mocha
*/



/* Global styles
------------------------------------*/
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit; /*doesn't let padding or margin change size*/
}

* {
/*    scrollbar-width: none;*/
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --rosey: #CAA38E;
    --whitemocha: #F7FFF7;
    --raincloud: #343434;
    --mocha: #54433A;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
/*    overflow: hidden;*/
}

a {
    text-decoration: none;
}

h3 {
    text-align: center;
    font-size: 3.25em;
    margin: 0 0 40px 0;
    padding-top: 0;
}

h1, h2, h3 {
    font-family: 'Amatic SC', sans-serif;
    letter-spacing: 4px;
}

.content-size {
    padding: 50px;
    width: 85%;
    margin: auto;
}

.background-one {
    background-color: var(--raincloud);
    color: var(--rosey);
}

.background-two {
    background-color: var(--rosey);
}

.background-one p, .background-one ul {
    color: var(--whitemocha)
}

/* Header
------------------------------------*/
h1 {
    border-bottom: 1px solid var(--rosey);
    padding-bottom: .45em;
    color: var(--whitemocha);
    margin: -10px 0 15px 0;
    font-size: 40px;
}

nav > a {
    padding: 0 1.5em;
    color: var(--whitemocha);
    font-size: 14px;
    transition: all .25s;
}

nav > a:hover {
    color: var(--rosey);
}

nav > a:first-of-type {
    padding-left: 0;
}

nav img {
    float: right;
    display: inline-block;
    margin-top: -18px;
}

#home {
    position: -webkit-sticky;
    position: sticky;
    top: -95px;
    z-index: 1;
}

.home-content {
    width: 85%;
    margin: auto;
    padding: 25px;
}

/* Mobile Nav
------------------------------------*/
/*hamburger img*/
h1 ~ img {
    width: 50px;
    position: absolute;
    top: 25px;
    right: 7%;
    padding: 5px;
    display: none;
}

.mobile-nav {
    background-color: var(--raincloud);
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/**/
#exit-button{
    float: right;
    margin: 20px 20px 0 0;
}

.mobile-nav a{
    display: block;
    text-align: center;
    margin: 15px 0 15px 0;
    font-size: 24px;
    letter-spacing: 2px;
    color: var(--whitemocha);
}

.mobile-nav a:first-of-type {
    margin-top: 35%;
}

.mobile-nav a:last-of-type {
    margin-top: 55px;
}

/* Welcome
------------------------------------*/
#welcome {
    background-image: url('../images/portrait.jpg');
    background-size: cover;
    background-position: 20% 50%;
    height: 600px;
    position: relative;
    color: var(--whitemocha);
}

#welcome h2 {
    position: absolute;
    top: 30%;
    left: 20%;
    font-size: 5em;
    letter-spacing: .2em;
    animation: welcome-fade-up 1.2s ease-in;
}

/* About
------------------------------------*/
#about {
    padding: 50px 0;
}

#about div {
    text-align: center;
    width: 70%;
    margin: auto;
}

#about p {
    line-height: 2.5em;
}

/* Projects
------------------------------------*/
#projects {
    background-color: #585858;
}

/* Experience
------------------------------------*/
.experience-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 95%;
    margin: auto;
}

#experience {
    padding: 0 50px 0 50px;
}

/*position titles*/
#experience h4 {
    margin-bottom: 0;
}

/*company & dates*/
#experience h4 + p {
    margin-top: 5px;
}

.divider > section {
    border-bottom: 1px dashed white;
    padding: 25px 0 40px 0;
}

/*first experience section*/
.divider > section:first-of-type {
    padding-top: 3px;
}

/*last experience section*/
.divider > section:last-of-type {
    border-bottom: none;
}

/*experience summaries & bullets*/
.experience-grid div:last-of-type {
    padding-left: 50px;
}

.experience-grid ul {
    width: 95%;
    margin: auto;
    margin-left: 0;
}

/*every bullet list*/
p ~ ul:last-of-type {
    margin-bottom: 0;
}

/* Education
------------------------------------*/
.education-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-row-gap: 25px;
    text-align: center;
    margin-bottom: 15px;
}

.education-grid ul {
    list-style: none;
    padding-left: 0;
}

/*front titles*/
.education-grid h4 {
    padding: 125px 0;   
}

/*Related Courses*/
.education-grid h5 {
    font-size: 1em;
    margin: 0;
}

.education-card {
    background-color: #FFF6F6;
    height: 325px;
    margin: 0 20px;
    border-radius: 6px;
    box-shadow: 5px 7px var(--mocha);
    transition: all .3s ease;
    position: relative;
}

.education-card:hover {
    box-shadow: 5px 12px var(--mocha);
    transform: translateY(-10px)
} 

/*turn-over arrows*/
.education-card img {
    position: absolute;
    bottom: 8px;
    right: 12px;
    width: 3em;
    cursor: pointer;
}

.education-card-front {
    animation: rotate-begin 1.5s ease;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform-style: preserve-3d
}

.education-card-one-back {
    padding: 30px 45px;
    animation: rotate-back 1.5s ease;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform-style: preserve-3d
}

.education-card-two-back {
    padding: 70px 0;
    animation: rotate-back 1.5s ease;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform-style: preserve-3d
}

/*GPA & Date*/
.education-card-one-back p:nth-child(2) {
    font-size: 12px;
    margin: -10px 0 25fpx 0;
}

/* Skills
------------------------------------*/
#skills {
    padding-bottom: 90px;
}

#carousel {
	background-color: #f4f4f4;
/*    border: 1px solid grey;*/
    height: 500px;
    position: relative;
    margin: auto;
    margin-top: 30px;
}

.slide {
	animation: left .3s ease-in;
    position: absolute;
	width: 100%;
    height: 100%;
}

#slide-one {
    background-image: url(../images/safar-safarov-unsplash.jpg);
    background-size: cover;
    background-position: 15% 15%;
}

#slide-two {
    background-image: url(../images/anete-lusina-unsplash.jpg);
    background-size: cover;
    background-position: 15% 15%;
}

#slide-three {
    background-image: url(../images/helloquence-unsplash.jpg);
    background-size: cover;
    background-position: 15% 15%;
}

.content {
	background-color: #585858;
    width: 50%;
    height: 50%;
    position: absolute;
    animation: up .7s ease;
    top: 24%;
    left: 25%;
    padding: 25px;
    text-align: center;
}

/*slide titles*/
#skills h4 {
    color: var(--whitemocha);
    font-size: 1.2em;
    
}

button {
	padding: 15px;
    border: none;
    background-color: rgba(0,0,0,0);
    font-size: 30px;
    cursor: pointer;
    font-weight: bold;
}

.carousel-button-one {
    transform: rotate(90deg);
    width: 40px;
}

.carousel-button-two {
    transform: rotate(-90deg);
    width: 40px;
}

button:focus {
    outline: none;
}

/*left arrow*/
div button:first-of-type {
    position: absolute;
    left: 10px;
    top: 43%;
}

/*right arrow*/
div button:last-of-type {
    position: absolute;
    right: 10px;
    top: 43%;
}

#dots {
    position: absolute;
    bottom: 10px;
    left: 40.5%;
}

#dots li {
    display: inline-block;
    margin-left: 10px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: black;
    cursor: pointer;
}

.active {
    background-color: white !important;
}

/* Footer
------------------------------------*/
.footer-background {
    border-radius: 30% 30% 0 0 / 10%;
    height: 200px;
    background-size: cover;
    margin-top: -55px;
    text-align: center;
    background-color: #585858;
}

footer img {
    width: 3.8em;
    text-align: center;
}

footer img:hover {
    animation: shake-shiver 0.3s;
    animation-iteration-count: .35;
}

.footer-content {
    padding-top: 50px;
    color: var(--whitemocha);
}

.footer-content-size {
    width: 85%;
    margin: auto;
}

/* Responsive
------------------------------------*/
@media screen and (max-width:900px){
    nav {
        display: none;
    }
    #home {
        position: relative;
        top: 0;
    }
    h1 ~ img {
        display: block;
    }
}

@media screen and (max-width: 922px) {
    .content-size, .home-content {
        width: 95%;
        padding: 10px;
    }
    .home-content {
        padding: 25px;
    }
}

@media screen and (max-width: 800px) {
    .experience-grid {
        display: block;
    }
    .experience-grid div:last-of-type {
        padding-left: 0;
    }
    .experience-grid ul {
        width: 100%;
        padding-left: 20px;
    }
    #about div {
        width: 90%;
    }
    #experience {
        padding: 0 25px;
    }
    .education-card-one-back {
        padding: 20px 15px;
    }
}

@media screen and (max-width: 714px) {
    #welcome {
        background-image: url('../images/mobile-welcome-background.png');
        background-size: cover;
        background-position: 50% 50%;
        height: 30em;
/*        position: relative;*/
=======
        background-position: 20% 50%;
        height: 400px;
        position: relative;
        color: var(--whitemocha);
    }

    #welcome h2 {
/*
        position: absolute;
        top: 50%;
        left: 50%;
*/
=======
        position: absolute;
        top: 30%;
        left: 20%;
        display: block;
        font-size: 5em;
        letter-spacing: .2em;
        animation: welcome-fade-up 1.2s ease-in;
    }
}

@media screen and (max-width: 353px) {
    body, html {
        overflow-x:hidden;
    }
}

/* Keyframes
------------------------------------*/
@keyframes welcome-fade-up {
    0% {opacity: 0; top: 40%;}
    100% {opacity: 1; top: 30%;}
}

@keyframes fade-up {
    0% {opacity: 0; padding-top: 50px;}
    100% {opacity: 1; padding-top: 0px;}
}

/************ CARD FLIP ************/
@keyframes rotate-begin {
    0% {transform: rotateY(180deg); color: #FFF6F6;}
    45% {transform: rotateY(0deg); color: black;}
    100% {color: black;}
}

@keyframes rotate-back {
    0% {transform: rotateY(180deg); color: #FFF6F6;}
    45% {transform: rotateY(0deg); color: black;}
    100% {color: black;}
}

/******* CAROUSEL KEYFRAMES *******/
@keyframes left {
	0% {right:-150px; opacity:0;} 
	100% {right:0;opacity:1;}
}

@keyframes up {
	0% {top:45%; opacity:0;} 
    50% {margin-top:0px; opacity:0;}
	100% {top:24%; opacity:1;}
    /* top is set at 24% default so we're just moving it back there */
}
/***** CAROUSEL KEYFRAMES END *****/

@keyframes shake-shiver {
    2% {transform: translate(0, 0) rotate(-2.5deg); }
    4% {transform: translate(0, 0) rotate(-1.5deg); }
    6% {transform: translate(0, 0) rotate(4.5deg); }
    8% {transform: translate(0, 0) rotate(-2.5deg); }
    10% {transform: translate(0, 0) rotate(3.5deg); }
    12% {transform: translate(0, 0) rotate(7.5deg); }
    14% {transform: translate(0, 0) rotate(4.5deg); }
    16% {transform: translate(0, 0) rotate(4.5deg); }
    18% {transform: translate(0, 0) rotate(2.5deg); }
    20% {transform: translate(0, 0) rotate(-5.5deg); }
    22% {transform: translate(0, 0) rotate(0.5deg); }
    24% {transform: translate(0, 0) rotate(2.5deg); }
    26% {transform: translate(0, 0) rotate(-2.5deg); }
    28% {transform: translate(0, 0) rotate(-4.5deg); }
    30% {transform: translate(0, 0) rotate(3.5deg); }
    32% {transform: translate(0, 0) rotate(-2.5deg); }
    34% {transform: translate(0, 0) rotate(-5.5deg); }
    36% {transform: translate(0, 0) rotate(2.5deg); }
    38% {transform: translate(0, 0) rotate(-2.5deg); }
    40% {transform: translate(0, 0) rotate(2.5deg); }
    42% {transform: translate(0, 0) rotate(5.5deg); }
    44% {transform: translate(0, 0) rotate(6.5deg); }
    46% {transform: translate(0, 0) rotate(-4.5deg); }
    48% {transform: translate(0, 0) rotate(-0.5deg); }
    50% {transform: translate(0, 0) rotate(3.5deg); }
    52% {transform: translate(0, 0) rotate(1.5deg); }
    54% {transform: translate(0, 0) rotate(-1.5deg); }
    56% {transform: translate(0, 0) rotate(-4.5deg); }
    58% {transform: translate(0, 0) rotate(-0.5deg); }
    60% {transform: translate(0, 0) rotate(-5.5deg); }
    62% {transform: translate(0, 0) rotate(-0.5deg); }
    64% {transform: translate(0, 0) rotate(6.5deg); }
    66% {transform: translate(0, 0) rotate(6.5deg); }
    68% {transform: translate(0, 0) rotate(-2.5deg); }
    70% {transform: translate(0, 0) rotate(0.5deg); }
    72% {transform: translate(0, 0) rotate(2.5deg); }
    74% {transform: translate(0, 0) rotate(6.5deg); }
    76% {transform: translate(0, 0) rotate(-6.5deg); }
    78% {transform: translate(0, 0) rotate(-1.5deg); }
    80% {transform: translate(0, 0) rotate(2.5deg); }
    82% {transform: translate(0, 0) rotate(-1.5deg); }
    84% {transform: translate(0, 0) rotate(-5.5deg); }
    86% {transform: translate(0, 0) rotate(-5.5deg); }
    88% {transform: translate(0, 0) rotate(-5.5deg); }
    90% {transform: translate(0, 0) rotate(-1.5deg); }
    92% {transform: translate(0, 0) rotate(-5.5deg); }
    94% {transform: translate(0, 0) rotate(4.5deg); }
    96% {transform: translate(0, 0) rotate(5.5deg); }
    98% {transform: translate(0, 0) rotate(4.5deg); }
    0%, 100% {transform: translate(0, 0) rotate(0);
} 