<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Kristen Escobar Portfolio</title>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Montserrat:400,600,600i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

</head>
<body>
<!-- ******************** HEADER / NAV ******************** -->
<header class="background-one" id="home">
    <div class="home-content">
        <h1>Kristen Escobar</h1>
        <img src="images/hamburger.png" @click="hamburger=true">
        <nav>
            <a href="#home">Home</a>
            <a href="#about">About Me</a>
            <a href="#projects">Projects</a>
            <a href="#experience">Experience</a>
            <a href="#education">Education</a>
            <a href="#skills">Skills</a>    
            <a href="https://www.linkedin.com/in/kristenescobar97/" target="_blank"><img src="https://img.icons8.com/plasticine/60/000000/linkedin.png"></a>
        </nav>
    </div>

<div class="mobile-nav" v-if="hamburger==true">
    <img id="exit-button" @click="hamburger=false" src="https://img.icons8.com/color/48/000000/close-window.png">
    <a href="#home" @click="hamburger=false">Home</a>
    <a href="#about" @click="hamburger=false">About Me</a>
    <a href="#projects" @click="hamburger=false">Projects</a>
    <a href="#experience" @click="hamburger=false">Experience</a>
    <a href="#education" @click="hamburger=false">Education</a>
    <a href="#skills" @click="hamburger=false">Skills</a>    
    <a href="https://www.linkedin.com/in/kristenescobar97/" target="_blank"><img src="https://img.icons8.com/plasticine/60/000000/linkedin.png"></a>
</div>
</header>

<!-- ********************** WELCOME *********************** -->
<section id="welcome">
    <h2>WELCOME</h2>
</section>

<!-- *********************** ABOUT ************************ -->
<section class="background-two" id="about">
    <div class="content-size">
        <h3>ABOUT ME</h3>
        <p data-aos="fade-up" data-aos-duration="1500">Problems and setbacks excite me because I see them not as failures, but as opportunities for newfound creativity and efficiency. This outlook has paved the way for countless opportunities, unique experiences and profound relationships both personally and professionally.</p>
    </div>
</section>
   
<!-- ********************** PROJECTS ********************** -->
<section class="background-one" id="projects">
    <div class="content-size">
        <h3>FEATURED PROJECTS</h3>
    </div>
</section>
    
<!-- ********************* EXPERIENCE ********************* -->
<section class="background-one" id="experience">
    <div class="content-size divider">
        <h3>EXPERIENCE</h3>

        <!--JOB 1-->
        <section class="experience-grid" data-aos="fade-up" data-aos-duration="1500">
            <div>
                <h4>CONTENT AUTHOR</h4>
                <p>Rubin Postaer &amp; Associates <br> June 2019 - Current</p>
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
                <ul>
                    <li>Utilization of Sitecore Content Managment to setup, organize and author Honda website copy and images</li>
                    <li>Coordination with </li>
                    <li>Communicated with clientele and vendors through phone and email</li>
                </ul>
            </div>
        </section>

        <!--JOB 2-->
        <section class="experience-grid" data-aos="fade-up" data-aos-duration="1500">
            <div>
                <h4>SALON COORDINATOR</h4>
                <p>PHD <br> June 2018 - August 2018</p>
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
                <ul>
                    <li>Oversaw the company brand on social media platforms such as Yelp</li>
                    <li>Coordinateda with 75 cliente, maintaining company calendar invoices</li>
                    <li>Communicated with clientele and vendors through phone and email</li>
                </ul>
            </div>
        </section>

        <!--JOB 3-->
        <section class="experience-grid" data-aos="fade-up" data-aos-duration="1500">
            <div>
                <h4>CUSTOMER SERVICE REPRESENTATIVE</h4>
                <p>Journeys <br> October 2015 - May 2018</p>
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
                <ul>
                    <li>Provided expertise for clients to achieve sales goals and customer satisfaction</li>
                    <li>Organized store promotions to maintain a consistent brand image</li>
                    <li>Scheduled and organized team calendars for upcoming weeks</li>
                </ul>
            </div>
        </section>

        <!--JOB 4-->
        <section class="experience-grid" data-aos="fade-up" data-aos-duration="1500">
            <div>
                <h4>MEDIA MARKETING INTERN</h4>
                <p>Smart &amp; Final <br> June 2017 - August 2017</p>
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
                <ul>
                    <li>Researched and reported on trends and competition to help drive planning and strategic analysis for upcoming seasonal campaigns</li>
                    <li>Monitored and analyzed television and radio ads for holiday campaigns and store openings through Excel Pivot Tables and nested functions</li>
                    <li>Point of contact with Blooms advertising agency in developing and scheduling campaigns to promote customer retention according to upcoming trends</li>
                </ul>
            </div>
        </section>
    </div>
</section>
    
<!-- ********************** EDUCATION ********************** -->
<section class="background-two" id="education">
    <div class="content-size">
        <h3>EDUCATION</h3>
        <div class="education-grid" data-aos="fade-up" data-aos-duration="1500">
           
           <!--EDUCATION CARD 1-->
              
                <!--FRONT-->
                <div class="education-card education-card-front" v-if="flip1==false">
                    <h4>CALIFORNIA STATE UNIVERSITY, FULLERTON</h4>
                    <img @click="flip1=true" src="images/education-arrow.png">
                </div>
                
                <!--BACK-->
                <div class="education-card education-card-one-back" v-if="flip1==true">
                    <p><i>
                        B.A. in Business Administration
                        <br>
                        Emphasis in Marketing
                        <br>
                    </i></p>
                    <p>
                        Major GPA - 3.63 | Aug 2015 - May 2019
                    </p>
                    <h5><b>Related Courses:</b></h5>
                    <ul>
                        <li>Strategic Internet Marketing</li>
                        <li>Marketing Information Technology</li>
                        <li>Data Analytics</li>
                        <li>Global Marketing</li>
                        <li>Marketing Research</li>
                    </ul>
                    <img @click="flip1=false" src="images/education-arrow.png">
                </div>
            
            <!--EDUCATION CARD 2-->
               
                <!--FRONT-->
                <div class="education-card education-card-front" v-if="flip2==false">
                    <h4>LINKEDIN LEARNING</h4>
                    <img @click="flip2=true" src="images/education-arrow.png">
                </div>
                
                <!--BACK-->
                <div class="education-card education-card-two-back" v-if="flip2==true">
                    <h5><b>Certificates</b></h5>
                    <ul>
                        <li>HTML Essential Training</li>
                        <li>CSS Essential Training</li>
                        <li>Responsive Layout</li>
                        <li>Wordpress 5 Essential Training</li>
                        <li>Google Analytics Essential Training</li>
                        <li>Watson Analytics</li>
                        <li>Content Marketing Foundations</li>
                    </ul>
                    <img @click="flip2=false" src="images/education-arrow.png">
                </div>
                
            </div>
    </div>
</section>
    
<!-- ************************ SKILLS ************************ -->
<section class="background-one" id="skills">
    <div class="content-size">
        <h3>SKILLS</h3>
        <div id="carousel" data-aos="fade-up" data-aos-duration="1500">
           
           <!--SKILL 1-->
            <div v-show="slide==1" class="slide" id="slide-one">
                <div class="content-box">
                    <div class="content">
                        <h4>Front End Development</h4>
                        <p>Experience creating responsive web designs and layouts with HTML, CSS and Vanilla Javascript, as well as utilizing Javascript frameworks such as Vue. Also have basic exposure to frameworks and preprocessors such as jQuery and SASS.</p>
                    </div>
                </div>
            </div>
            
            <!--SKILL 2-->
            <div v-show="slide==2" class="slide" id="slide-two">
                <div class="content-box">
                    <div class="content">
                        <h4>Content Mangement</h4>
                        <p>Have created and updated websites using Sitecore, WordPress, Wix and Weebly. Most notably utilizing Sitecore to maintain and update the Honda Automobiles site, and WordPress to create a full&#8209;functioning e&#8209;commerce site.</p>
                    </div>
                </div>
            </div>
            
            <!--SKILL 3-->
            <div v-show="slide==3" class="slide" id="slide-three">
               <div class="slide-gradient" style=""></div>
                <div class="content-box">
                    <div class="content">
                        <h4>ANALYTICS</h4>
                        <p>Basic exposure and experience with SPSS statistics, Google Analytics, as well as Watson Analytics. Has also gained an understanding in forecasting, linear programming, and identifying key target markets.</p>
                    </div>
                </div>
            </div>
            
            <!--CAROUSEL BUTTONS-->
            <button @click="change(-1)"><img class="carousel-button-one" src="images/carousel-arrow.png"></button>
            <button @click="change(1)"><img class="carousel-button-two" src="images/carousel-arrow.png"></button>
            <div id="dots">
                <ul>
                    <li @click="slide=1" :class="{active: slide==1}"></li>
                    <li @click="slide=2" :class="{active: slide==2}"></li>
                    <li @click="slide=3" :class="{active: slide==3}"></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- ************************ FOOTER ************************ -->
<footer class="footer-background">
    <div class="footer-content-size footer-content">
        <a href="mailto:kristenescobar97@yahoo.com" target="_blank">
            <img src="https://img.icons8.com/plasticine/100/000000/important-mail.png">
        </a>
        <a href="https://www.linkedin.com/in/kristenescobar97/" target="_blank">
            <img src="https://img.icons8.com/plasticine/100/000000/linkedin.png">
        </a>
        <a href="https://www.instagram.com/kristennescobar/" target="_blank">
            <img src="https://img.icons8.com/plasticine/100/000000/instagram.png">
        </a>
        <a href="https://www.pinterest.com/kristenescobar9/" target="_blank">
            <img src="https://img.icons8.com/plasticine/100/000000/pinterest.png">
        </a>
        <p>&copy;2020 by Kristen Escobar.</p>
    </div>
</footer>

<!-- ************************* VUE ************************* -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
var app = new Vue({
    el: '#home',
    data: {
        hamburger: false,
    },
    watch: {
        isModalVisible: function() {
          if(this.hamburger){
            document.documentElement.style.overflow = 'hidden'
            return
          }

          document.documentElement.style.overflow = 'auto'
        }
    }
})
    
var app = new Vue({
    el: '#education',
    data: {
        flip1: false,
        flip2: false
    },
})
    
var app = new Vue({
    el: '#skills',
    data: {
        slide: 1
    },
    methods: {
        change: function(num) {
            this.slide = this.slide + num;
            if (this.slide > 3) {
                this.slide = 1
            } else if (this.slide < 1) {
                this.slide = 3
            }
        }
    }
})
</script>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>
</body>
</html>